.root {
    display: flex;
    flex-direction: column;
    width: 5rem;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.zero {
    justify-content: center;
    align-items: center;
}